<h1>こんにちは<%= @username %>さん</h1>
<p>ユーザー用ページです。</p>
<div>
  <h2>トークルーム一覧</h2>
  <ul>
    <% @rooms.each do |room| %>
      <li><%=link_to "ROOM#{room.id}", "/rooms/#{room.id}" %></li>
    <% end %>
  </ul>
  <li><%=link_to "NEW ROOM", "/rooms/new" %></li>
</div>
