<div class="wrap">
<h1 class="room ">Room No.<%= @room.id %></h1>
<div id="messages", data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>
<form>
  <input type="text" class="form-control" data-behavior="room_speaker" placeholder="Please type in something">
</form>
</div>
